.services-header {
  background-image: url("/assets/images/services/services-cover.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  overflow: hidden;
  padding: 130px 0 px;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: 0.1;
  }

  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    margin: 130px 0;
    text-transform: uppercase;
  }

  ul {
    margin: 0;

    li {
      font-size: 12px;
      color: var(--black);
      background: #ffffff;
      padding: 8px 40px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      border-top-left-radius: 5px;
      z-index: 10;
      cursor: pointer;
      outline: none;

      &:last-child {
        color: #fff;
        background-color: var(--black);
        border-radius: 0;
        border-top-right-radius: 5px;
      }
    }
  }
}
