@import "src/styles";

.quality {
  padding: 80px 0 60px;
  background-image: url("http://res.cloudinary.com/alynasser/image/upload/v1609436672/sageco-services/sageco-homepage/home-cover-2_s2argr.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  z-index: 1;

  @include media("<md") {
    padding: 40px 0;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: rgba(#000, 0.4);
    z-index: -1;
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
    text-transform: uppercase;

    @include media("<md") {
      font-size: 30px;
    }
  }

  button {
    display: block;
    margin: 0 auto;
    outline: none;
    border: 0;
    color: var(--black);
    background-color: var(--base-color);
    border-radius: 10px;
    padding: 7.5px 30px;
    transition: all 500ms ease-out;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    @include media("<md") {
      font-size: 14px;
      padding: 5px 10px;
    }

    &:hover {
      border-radius: 0;
      border-top-left-radius: 35px;
      border-bottom-right-radius: 35px;
      background-color: var(--primary-color);
      color: var(--base-color);
    }
  }
}
