@import "src/styles";

.partners {
  padding: 120px 0 80px 0;

  @include media("<md") {
    padding: 60px 0 40px;
  }

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;

      @include media("<md") {
        font-size: 12px;
      }
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 40px;
      }
    }
  }

  .carousel-item {
    .carousel-img {
      width: 150px;
      height: 200px;

      @include media("<md") {
        height: 150px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
