<div class="contact">
  <div
    class="container"
    fxLayout="row wrap"
    fxLayoutAlign="space-between start"
  >
    <div
      class="contact-form-wrap"
      fxFlex="55"
      fxFlex.lt-sm="100"
      fxFlexOrder.lt-sm="2"
    >
      <div class="contact__block-title">
        <p>contact with us</p>
        <h3>write us a message</h3>
        <div class="leaf">
          <img src="assets/images/resources/leaf.png" alt="" />
        </div>
      </div>
      <form
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly"
        class="contact-form-inputs"
      >
        <div class="input-group" fxFlex="45" fxFlex.lt-sm="100">
          <input type="text" name="name" placeholder="Your Name" />
        </div>
        <div class="input-group" fxFlex="45" fxFlex.lt-sm="100">
          <input type="text" name="email" placeholder="Email Address" />
        </div>
        <div class="input-group" fxFlex="45" fxFlex.lt-sm="100">
          <input type="text" name="phone" placeholder="Phone Number" />
        </div>
        <div class="input-group" fxFlex="45" fxFlex.lt-sm="100">
          <input type="text" name="subject" placeholder="Subject" />
        </div>
        <div class="input-group" fxFlex="95" fxFlex.lt-sm="100">
          <textarea name="message" placeholder="Write Message"></textarea>
        </div>
        <div class="input-group contact-button">
          <button type="submit" class="contact-button">Send message</button>
        </div>
      </form>
    </div>

    <div
      class="contact-questions"
      fxFlex="40"
      fxFlex.lt-sm="100"
      fxFlexOrder.lt-sm="1"
    >
      <div fxLayout fxLayoutAlign="center center" class="contact-image">
        <img src="assets/images/resources/ask-question.jpg" alt="" />
      </div>
      <div
        class="contact__block-title questions-title wow fadeInDown"
        data-wow-delay="500ms"
      >
        <p>get in touch wit us</p>
        <h3>have a question? don't hesitate to send us a message.</h3>
        <div class="leaf">
          <img src="assets/images/resources/leaf.png" alt="" />
        </div>
      </div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione quidem
        veniam, cumque nemo modi nostrum explicabo cupiditate sint dignissimos
        ab quis aperiam minus tempore at soluta laborum atque porro iste.
      </p>
    </div>
  </div>
</div>
