@import "src/styles";

.services-header {
  background-image: url("http://res.cloudinary.com/alynasser/image/upload/v1609436335/sageco-services/services-cover_thaiqa.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  background-blend-mode: multiply;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    opacity: 0.5;
  }

  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    margin: 130px 0;
    text-transform: uppercase;

    @include media("<md") {
      font-size: 65px;
      margin: 75px 0;
    }
  }

  ul {
    margin: 0;

    li {
      font-size: 12px;
      color: #fff;
      background-color: var(--black);
      padding: 8px 40px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      border-top-left-radius: 5px;
      z-index: 10;
      cursor: pointer;
      outline: none;

      @include media("<md") {
        padding: 4px 20px;
      }

      &:last-child {
        color: var(--black);
        background: #ffffff;
        border-radius: 0;
        border-top-right-radius: 5px;
      }
    }
  }
}
