<section class="services">
  <div class="container">
    <div class="services__block-title">
      <p>Last but not least</p>
      <h3>Research and Studies</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <div class="services__points wow fadeInLeft" data-wow-delay="500ms">
      <p>Feasibility Studies.</p>
      <p>Market Opportunity Studies.</p>
      <p>Sector and Countrywide Studies.</p>
      <p>Assessment Studies.</p>
      <p>Industrial License Application Reports.</p>
      <p>Food and Agriculture.</p>
      <p style="flex-basis: 100%">
        Market Survey Research (Qualitative and Quantitative).
      </p>
      <p style="flex-basis: 100%">
        Education and IT Services (Procurement Intelligence, Supply Chain
        Management).
      </p>
    </div>
  </div>
</section>
