@import "src/styles";

.services-section-four {
  padding: 80px 0 20px;
  background-color: #f5f0e9;

  @include media("<md") {
    padding-top: 40px;
  }

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin: 25px;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 40px;
      }
    }
  }

  &__points {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    p {
      position: relative;
      flex-basis: 45%;
      padding: 0 25px;
      font-size: 20px;

      @include media("<md") {
        flex-basis: 100%;
        font-size: 15px;
      }

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "✔";
        color: var(--base-color);
      }
    }
  }
}
