<section class="services-section-four">
  <div class="container">
    <div class="services-section-four__block-title">
      <p>{{ "SERVICES.LAST_NOT_LEAST" | translate }}</p>
      <h3>{{ "SERVICES.RESEARCH" | translate }}</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <div
      class="services-section-four__points wow fadeInLeft"
      data-wow-delay="500ms"
    >
      <p>{{ "SERVICES.FEASIBILITY_STUDIES" | translate }}</p>
      <p>{{ "SERVICES.MARKET_STUDIES" | translate }}</p>
      <p>{{ "SERVICES.SECTOR_STUDIES" | translate }}</p>
      <p>{{ "SERVICES.ASSESSMENT_STUDIES" | translate }}</p>
      <p>{{ "SERVICES.INDUSTRIAL_REPORTS" | translate }}</p>
      <p>{{ "SERVICES.FOOD_AGRI" | translate }}</p>
      <p style="flex-basis: 100%">
        {{ "SERVICES.MARKET_RESEARCH" | translate }}
      </p>
      <p style="flex-basis: 100%">
        {{ "SERVICES.EDUCATION_SERVICES" | translate }}
      </p>
    </div>
  </div>
</section>
