@import "src/styles";

.trust {
  position: relative;
  padding: 120px 0 25px;
  background-image: url("http://res.cloudinary.com/alynasser/image/upload/v1609436707/sageco-services/sageco-homepage/home-cover-1_fqjde7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include media("<md") {
    padding-top: 40px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(57, 67, 54, 0.5);
  }

  &__text {
    font-size: 75px;
    margin: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    z-index: 10;
    padding: 16px;

    @include media("<md") {
      text-align: center;
      font-size: 44px;
    }

    span {
      color: var(--base-color);
    }
  }

  &__counter-box {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 80px 0 70px;
    border-right: 1px solid rgba(64, 74, 61, 0.1);
    margin: 0;
    background: var(--base-color);
    margin-bottom: -60px;
    border-radius: 5px;

    @include media("<md") {
      padding: 40px 0;
    }

    &__icon {
      height: 135px;
      width: 135px;
      border-radius: 50%;
      background: var(--black);

      @include media("<md") {
        height: 75px;
        width: 75px;
      }

      fa-icon {
        font-size: 65px;
        color: #fff;

        @include media("<md") {
          font-size: 35px;
        }
      }
    }

    h3 {
      margin: 30px 0 15px;
      font-size: 70px;
      color: var(--black);
      font-weight: 700;

      @include media("<md") {
        margin: 15px 0 0;
        font-size: 35px;
      }
    }

    p {
      color: var(--black);
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;

      @include media("<md") {
        font-size: 12px;
      }
    }
  }
}
