<section class="trust">
  <div class="container" fxLayout fxLayoutAlign="space-between center">
    <h2 class="trust__text" fxFlex="50">
      SAGECO trusted by more than <span>9,8750</span> clients
    </h2>
    <ul
      class="trust__counter-box wow fadeInRight"
      data-wow-delay="300ms"
      fxFlex="50"
      fxLayout
      fxLayoutAlign="space-evenly"
    >
      <li>
        <div
          class="trust__counter-box__icon"
          fxLayout
          fxLayoutAlign="center center"
        >
          <fa-icon [icon]="['fas', 'seedling']"></fa-icon>
        </div>
        <h3>5493</h3>
        <p>projects</p>
      </li>
      <li>
        <div
          class="trust__counter-box__icon"
          fxLayout
          fxLayoutAlign="center center"
        >
          <fa-icon [icon]="['fas', 'project-diagram']"></fa-icon>
        </div>
        <h3>1750</h3>
        <p>products</p>
      </li>
    </ul>
  </div>
</section>
