.trust {
  position: relative;
  padding: 120px 0 25px;
  background-image: url("/assets/images/resources/trusted_one_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(57, 67, 54, 0.5);
  }

  &__text {
    font-size: 75px;
    margin: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    z-index: 10;
    padding: 16px;

    span {
      color: var(--base-color);
    }
  }

  &__counter-box {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 80px 0 70px;
    border-right: 1px solid rgba(64, 74, 61, 0.1);
    margin: 0;
    background: var(--base-color);
    margin-bottom: -60px;
    border-radius: 5px;

    &__icon {
      height: 135px;
      width: 135px;
      border-radius: 50%;
      background: var(--black);

      fa-icon {
        font-size: 65px;
        color: #fff;
      }
    }

    h3 {
      margin: 30px 0 15px;
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
    }

    p {
      color: var(--black);
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      margin: 0;
    }
  }
}
