<div class="experience">
  <div class="container">
    <h2 class="wow fadeInLeft" data-wow-delay="500ms">
      {{ "HOME.EXP.TITLE" | translate }}
    </h2>
    <p class="wow fadeInRight" data-wow-delay="500ms">
      {{ "HOME.EXP.PARAGRAPH" | translate }}
    </p>

    <div
      class="experience__cards"
      fxLayout="row wrap"
      fxLayoutGap="30px"
      fxLayoutAlign.lt-sm="space-evenly"
      fxLayoutGap.lt-sm="0"
      fxLayoutAlign="center"
    >
      <ng-container *ngFor="let card of cards; let i = index">
        <div
          class="experience__card wow fadeInUp"
          data-wow-delay="500ms"
          fxFlex="20"
          fxFlex.lt-sm="45"
          fxLayout="column"
          [attr.data-wow-delay]="(i + 1) * 100 + 'ms'"
        >
          <fa-icon [icon]="card.icon"></fa-icon>
          <h3>{{ card?.title | translate }}</h3>
        </div>
      </ng-container>
    </div>
  </div>
</div>
