@import "src/styles";

.experience {
  padding: 70px 0 65px;
  background-color: var(--base-color);

  @include media("<md") {
    padding: 40px 0;
  }

  h2 {
    font-size: 55px;
    color: var(--dark-gray);
    margin-bottom: 40px;

    @include media("<md") {
      font-size: 40px;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  }

  p {
    color: var(--black);
    font-size: 19px;
    margin-bottom: 0;

    @include media("<md") {
      font-size: 15px;
      line-height: 1.4;
    }
  }

  &__card {
    text-align: center;
    padding: 15px;
    background-color: var(--black);
    color: #fff;
    margin-top: 40px;

    @include media("<md") {
      margin-top: 20px;
    }

    h3 {
      letter-spacing: 1px;
      font-size: 22px;
      margin: 0;
      line-height: 1.5;

      @include media("<md") {
        font-size: 18px;
      }
    }

    fa-icon {
      color: var(--base-color);
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
}
