@import "src/styles";

.services-section-two {
  padding: 65px 0;
  background-color: #f5f0e9;

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 20px;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 50px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 30px;
      }
    }
  }

  &__single-service {
    &__left {
      img {
        border-radius: 15px;
        padding: 4px;
        border: 2px solid var(--base-color);
        width: 100%;

        @include media("<md") {
          margin-bottom: 20px;
        }
      }
    }

    &__right {
      img {
        border-radius: 15px;
        padding: 4px;
        border: 2px solid var(--base-color);
        width: 100%;
        height: 100%;
      }

      h3 {
        margin: 30px 0;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 1px;
        font-weight: 800;
        font-size: 38px;

        @include media("<md") {
          font-size: 22px;
        }
      }

      button {
        border: none;
        outline: none;
        margin: 0 auto;
        display: inline-block;
        background-color: var(--base-color);
        font-size: 20px;
        color: var(--black);
        font-weight: 600;
        padding: 18px 30px;
        border-radius: 6px;
        transition: all 0.5s ease;
        cursor: pointer;
        text-transform: uppercase;

        @include media("<md") {
          font-size: 16px;
          padding: 9px 15px;
        }

        &:hover {
          background-color: var(--black);
          color: var(--base-color);
          border-radius: 0;
          border-top-right-radius: 45px;
          border-bottom-left-radius: 45px;
        }
      }
    }
  }
}
