<div class="services-section-two">
  <div class="container">
    <div class="services-section-two__block-title">
      <p>{{ "SERVICES.THERE_IS_MORE" | translate }}</p>
      <h3>{{ "SERVICES.OUTSOURCING" | translate }}</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <div
      class="services-section-two__single-service"
      fxLayout="row wrap"
      fxLayoutAlign="space-evenly center"
    >
      <div
        class="services-section-two__single-service__left wow fadeInLeft"
        data-wow-delay="400ms"
        fxFlex.lt-sm="100"
        fxFlex="40"
      >
        <img
          src="http://res.cloudinary.com/alynasser/image/upload/v1609436353/sageco-services/outsourcing_kdnmlh.jpg"
          alt=""
        />
      </div>
      <div
        class="services-section-two__single-service__right"
        fxFlex="40"
        fxFlex.lt-sm="100"
        fxLayout="column"
      >
        <div
          fxLayout
          fxLayoutAlign="center center"
          data-wow-delay="500ms"
          class="wow fadeInRight"
        >
          <img
            src="http://res.cloudinary.com/alynasser/image/upload/v1609436339/sageco-services/shortterm_ra0hfl.jpg"
            alt=""
          />
        </div>
        <h3>
          {{ "SERVICES.RESTRUCTURING" | translate }}
        </h3>
        <button fxFlexAlign="start">
          {{ "HOME.SERVICES.READ_MORE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
