<div class="services">
  <div class="container">
    <div class="services__block-title">
      <p>And there's more</p>
      <h3>Outsourcing And Other Specialized Business Services</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <div
      class="services__single-service"
      fxLayout="row wrap"
      fxLayoutAlign="space-evenly center"
    >
      <div
        class="single-service__left wow fadeInLeft"
        data-wow-delay="400ms"
        fxFlex.lt-sm="100"
        fxFlex="40"
      >
        <img
          src="https://res.cloudinary.com/alynasser/image/upload/v1609436353/sageco-services/outsourcing_kdnmlh.jpg"
          alt=""
        />
      </div>
      <div
        class="single-service__right"
        fxFlex="40"
        fxFlex.lt-sm="100"
        fxLayout="column"
      >
        <div
          fxLayout
          fxLayoutAlign="center center"
          data-wow-delay="500ms"
          class="wow fadeInRight"
        >
          <img
            src="https://res.cloudinary.com/alynasser/image/upload/v1609436339/sageco-services/shortterm_ra0hfl.jpg"
            alt=""
          />
        </div>
        <h3>
          Economy Restructuring And Short/Long - Term Outsourcing of Experienced
          Professionals
        </h3>
        <button fxFlexAlign="start">Learn more</button>
      </div>
    </div>
  </div>
</div>
