@import "src/styles";

.about {
  padding: 120px 0;

  @include media("<md") {
    padding: 60px 0;
  }

  &__block-title {
    margin-bottom: 55px;
    text-transform: uppercase;

    @include media("<md") {
      text-align: center;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 40px;
      }
    }
  }

  &__content {
    @include media("<md") {
      text-align: center;
      padding: 0 10px;
    }
    p {
      position: relative;

      &::before {
        font-size: 25px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -30px;
        right: 0;
        font-weight: 600;
        content: "â˜";
        color: var(--base-color);

        @include media("<md") {
          display: none;
        }
      }
    }
  }
}
