<app-about-header></app-about-header>
<section class="about container" fxLayout fxLayoutAlign="space-between">
  <div
    fxFlex="40"
    class="about__block-title wow fadeInDown"
    data-wow-delay="500ms"
  >
    <p>about sageco</p>
    <h3>
      WE’RE PROVIDING THE BEST consultancy, advisory and project development
      services.
    </h3>
    <div class="leaf">
      <img src="assets/images/resources/leaf.png" alt="" />
    </div>
  </div>

  <div fxFlex="50" class="about__content">
    <p class="animate__animated animate__fadeInRight animate__delay-1s">
      Saudi German Development and Investment Company Limited (SAGECO) is a
      consultancy, advisory and project development company which wasestablished
      in 1981.
    </p>

    <p class="animate__animated animate__fadeInRight animate__delay-1s">
      The Company originally came into being as a joint venture between the
      Governments of the Kingdom of Saudi Arabia (Ministry of Finance) and the
      Federal Republic of Germany (DEG , Cologne) to promote cooperation between
      the Saudi and German private sectors and provide the requisite consultancy
      services. After expiration of the 25-years' mandatory period of the Joint
      Venture, the company was privatized.
    </p>

    <p class="animate__animated animate__fadeInRight animate__delay-1s">
      SAGECO's activities are governed by the Company's philosophy which is, to
      uphold the values of Integrity, Quality and Professionalism . Its services
      are carried out in a reliable, professional and cost-effective way.
    </p>
  </div>
</section>
