@import "src/styles";

.footer {
  position: relative;
  display: block;
  background: var(--black);
  padding: 114px 0 40px;

  @include media("<md") {
    padding: 0 0 30px;
    text-align: center;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.05;
  }

  &__title {
    position: relative;
    margin-bottom: 36px;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @include media("<md") {
      display: inline-block;
      margin: 20px 0 10px;
      border-bottom: 3px solid var(--base-color);
    }

    &::before {
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 4px;
      width: 20px;
      background: var(--base-color);
      content: "";
      border-radius: 5px;

      @include media("<md") {
        display: none;
      }
    }
  }

  &__about-text {
    color: #c5c9c4;
    margin: 0;
  }

  &__input-box {
    position: relative;
    display: block;
    margin-top: 29px;

    input {
      font-size: 16px;
      color: #c5c9c4;
      height: 70px;
      width: 100%;
      background: #394336;
      border: none;
      outline: none;
      padding: 0 30px;
      border-radius: 10px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 60px;
      border: none;
      outline: none;
      border-radius: 10px;
      background: #394336;
      cursor: pointer;

      fa-icon {
        color: var(--base-color);
      }
    }
  }

  &__explore {
    li {
      color: var(--light-gray);

      a {
        position: relative;
        transition: all 500ms ease;

        &:hover {
          padding-left: 15px;
          color: var(--primary-color);
        }

        &::before {
          content: "✦";
          font-weight: 900;
          position: absolute;
          top: 50%;
          left: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 12px;
          color: var(--base-color);
          opacity: 0;
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }
  }

  &__news {
    z-index: 2;

    li {
      padding-left: 15px;
    }

    &-image {
      height: 50px;
      width: 50px;

      img {
        cursor: pointer;
        width: 100%;
        border-radius: 6px;
        opacity: 1;
        transition: all 500ms ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    &-text {
      cursor: pointer;
      margin: 0;
      color: var(--light-gray);
      transition: all 500ms ease;

      &:hover {
        color: #fff;
      }
    }

    &-date {
      font-size: 14px;
      color: var(--base-color);
      font-weight: 600;
      margin: 0;
    }
  }

  &__contact {
    z-index: 2;
    p {
      color: var(--light-gray);
    }

    a {
      display: block;
      color: var(--base-color);
    }
  }

  &__social {
    margin-top: 20px;

    fa-icon {
      cursor: pointer;
      color: var(--black);
      padding: 12px;
      border-radius: 50%;
      background: #fff;
      transition: all 1s ease;

      &:hover {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }

  &__bottom {
    padding: 20px;
    text-align: center;
    color: var(--light-gray);
    background-color: var(--black);
    z-index: 2;

    p {
      margin: 0;
    }
  }
}
