@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./assets/scss/fonts";
@import "./assets/scss/bootstrap";
@import "./assets/scss/normalize";
@import "./assets/scss/rtl";
@import "~include-media/dist/_include-media";

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 600px,
  lg: 960px,
  xl: 1280px,
  xxl: 1600px,
);
