<section class="banner">
  <div
    class="banner__circle-1"
    fxHide.lt-sm
    [fxHide]="(translateService.onLangChange | async)?.lang === 'ar'"
  >
    <img src="assets/images/home-slider/round_1.png" alt="" />
  </div>
  <div class="banner__certification" fxHide.lt-md>
    <img src="assets/images/home-slider/certified_logo.png" alt="" />
  </div>

  <owl-carousel-o [options]="customOptions" #owlCar>
    <ng-template carouselSlide>
      <div fxLayout fxLayoutAlign="center space-between">
        <div
          [fxFlexOrder]="
            (translateService.onLangChange | async)?.lang === 'ar' ? 1 : 2
          "
          fxFlex="50"
          fxFlex.lt-sm="100"
          class="banner__content"
        >
          <div
            class="banner__large-title animate__animated animate__fadeInUp animate__delay-1s"
          >
            Saudi German Development and Investment Company Limited (SAGECO)
          </div>
          <div
            class="banner__leafs animate__animated animate__fadeInUp animate__delay-1s animate__slow"
          >
            <img src="assets/images/home-slider/slider-5-leafs.png" alt="" />
          </div>
          <p
            class="banner__text animate__animated animate__fadeInUp animate__delay-2s"
          >
            is a consultancy, advisory and project development company which
            wasestablished in 1981. Originally came into being as a joint
            venture between the Governments of the Kingdom of Saudi Arabia
            (Ministry of Finance) and the Federal Republic of Germany (DEG ,
            Cologne).
          </p>
          <div
            class="banner__discover-btn animate__animated animate__fadeInUp animate__delay-2s aniamte__slow"
          >
            <a routerLink="/services">Discover more</a>
          </div>
        </div>
        <div
          class="banner__bg animate__animated animate__fadeIn animate__slower"
          fxLayout
          fxLayoutAlign="center center"
          fxFlex="50"
          fxHide.lt-sm
          [fxFlexOrder]="
            (translateService.onLangChange | async)?.lang === 'ar' ? 2 : 1
          "
        >
          <img src="assets/images/home-slider/slide-1.jpg" />
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div fxLayout fxLayoutAlign="center stretch">
        <div fxFlex="50" fxFlex.lt-sm="100" class="banner__content">
          <div
            class="banner__large-title animate__animated animate__fadeInUp animate__delay-1s animate__slow"
          >
            Our Mission
          </div>
          <div
            class="banner__leafs animate__animated animate__fadeInUp animate__delay-2s animate__slow"
          >
            <img src="assets/images/home-slider/slider-5-leafs.png" alt="" />
          </div>
          <p
            class="banner__text animate__animated animate__fadeInUp animate__delay-2s animate__slow"
          >
            To provide clients with "one-stop-solution" for all their management
            consulting, business advisory, market research and studies and
            regulatory requirements.
          </p>

          <div
            class="banner__large-title animate__animated animate__fadeInUp animate__delay-1s animate__slow"
          >
            Our vision
          </div>
          <div
            class="banner__leafs animate__animated animate__fadeInUp animate__delay-2s animate__slow"
          >
            <img src="assets/images/home-slider/slider-5-leafs.png" alt="" />
          </div>
          <p
            class="banner__text animate__animated animate__fadeInUp animate__delay-2s animate__slow"
          >
            To be the most recognized multidisciplinary research and consulting
            firm and strategic partner to our most sought-after clien ts.
          </p>
        </div>
        <div
          class="banner__bg animate__animated animate__fadeIn animate__slower"
          fxFlex="50"
          fxHide.lt-sm
        >
          <img src="assets/images/home-slider/slide-2.jpg" />
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
  <div class="banner__buttons">
    <button class="btn-prev" (click)="owlCar.prev()">Prev</button>
    <button class="btn-next" (click)="owlCar.next()">Next</button>
  </div>
</section>
