.banner {
  position: relative;
  z-index: 1;

  &__circle-1 {
    position: absolute;
    width: 115px;
    height: 115px;
    top: -20px;
    left: 0;
    z-index: 2;
    -webkit-animation: planeMove 5s ease-in infinite;
    animation: planeMove 5s ease-in infinite;

    img {
      width: 100%;
    }
  }

  &__certification {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    -webkit-animation: sunMove 10s linear infinite;
    animation: sunMove 10s linear infinite;
  }

  &__content {
    padding: 75px 110px 50px 110px;
  }

  &__bg {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__large-title {
    position: relative;
    color: var(--black);
    font-size: 110px;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--heading-font);
  }

  &__leafs {
    height: 24px;
    width: 167px;
    margin: 10px 0 15px;
  }

  &__text {
    font-size: 18px;
    color: var(--dark-gray);
    line-height: 34px;
    font-weight: 500;
  }

  &__discover-btn {
    border: none;
    outline: none;
    display: inline-block;
    background-color: var(--base-color);
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    padding: 23px 50px;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--primary-color);
      color: #fff;
      border-radius: 0;
      border-top-right-radius: 45px;
      border-bottom-left-radius: 45px;
    }
  }

  .owl-carousel {
    position: relative;
  }

  &__buttons {
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;

    button {
      position: relative;
      border: none;
      outline: none;
      text-transform: uppercase;
      padding: 20px 45px;
      letter-spacing: 3px;
      font-size: 12px;
      font-weight: 500;
      transition: all 500ms ease-in-out;
    }

    .btn-prev {
      background-color: #fff;
      color: var(--black);

      &:hover {
        background-color: darken(#fff, 12.5%);
      }
    }

    .btn-next {
      background-color: var(--black);
      color: #fff;

      &:hover {
        background-color: rgba(#404a3d, 0.75);
      }
    }
  }
}

@-webkit-keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes planeMove {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  25% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes planeMove {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  25% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes bridMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes bridMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
