@import "src/styles";

.services {
  padding: 120px 0;

  @include media("<md") {
    padding: 50px 0 30px 0;
  }

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin-bottom: 25px;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 40px;
      }
    }
  }

  .carousel-item {
    text-align: center;
    position: relative;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 0 10px;
    transition: all 1s ease-in;

    &:hover {
      &::before {
        position: absolute;
        background-color: rgba(#000, 0.75);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
      }
      .hover-box {
        opacity: 1;
      }
    }

    .hover-box {
      width: 100%;
      opacity: 0;
      position: absolute;
      bottom: 20%;
      width: 100%;
      text-align: center;
      transition: all 1s ease;
      padding: 20px 0;
      color: var(--base-color);

      h3 {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
      }

      button {
        outline: none;
        border: 0;
        color: var(--black);
        background-color: var(--base-color);
        border-radius: 10px;
        padding: 7.5px 20px;
        transition: all 500ms ease-out;

        &:hover {
          border-radius: 0;
          border-top-left-radius: 35px;
          border-bottom-right-radius: 35px;
          background-color: var(--primary-color);
          color: var(--base-color);
        }
      }
    }

    img {
      width: 100%;
      height: 250px;

      @include media("<md") {
        height: 150px;
      }
    }
  }

  .button {
    display: block;
    margin: 0 auto;
    outline: none;
    border: 0;
    color: var(--black);
    background-color: var(--base-color);
    border-radius: 10px;
    padding: 7.5px 20px;
    transition: all 500ms ease-out;

    &:hover {
      border-radius: 0;
      border-top-left-radius: 35px;
      border-bottom-right-radius: 35px;
      background-color: var(--primary-color);
      color: var(--base-color);
    }
  }

  .button-explore {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;

    @include media("<md") {
      font-size: 12px;
    }
  }
}
