.services {
  padding: 120px 0 120px 0;

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;
    }
  }

  .carousel-item {
    text-align: center;
    text-transform: uppercase;

    &:hover {
      img {
        opacity: 0.8;
      }

      h3 {
        color: var(--black);
      }
    }

    h3 {
      margin: 0;
      margin-top: 21px;
      font-size: 30px;
      font-weight: 700;
      transition: all 500ms ease;
    }

    img {
      border-radius: 50%;
      border: 2px solid var(--base-color);
      padding: 3px;
      opacity: 1;
      width: 200px;
      height: 200px;
      transition: all 500ms ease;
    }
  }
}
