<section class="services">
  <div class="container">
    <div class="services__block-title wow fadeInDown" data-wow-delay="500ms">
      <p>{{ "HOME.SERVICES.SMALL_HEADING" | translate }}</p>
      <h3>{{ "HOME.SERVICES.BIG_HEADING" | translate }}</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let service of services; let i = index">
        <ng-template carouselSlide>
          <div class="carousel-item">
            <div
              fxLayout
              fxLayoutAlign="center center"
              class="wow fadeInLeft"
              [attr.data-wow-delay]="(i + 1) * 200 + 'ms'"
            >
              <img [src]="service?.image" alt="" />
            </div>
            <div class="hover-box">
              <h3>{{ service?.title | translate }}</h3>
              <button class="button" routerLink="/services">
                {{ "HOME.SERVICES.READ_MORE" | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <button class="button button-explore" routerLink="/services">
    {{ "HOME.SERVICES.EXPLORE" | translate }}
  </button>
</section>
