<section class="services">
  <div class="container">
    <div class="services__block-title">
      <p>What we do</p>
      <h3>Services we offer</h3>
      <div class="leaf">
        <img src="assets/images/resources/leaf.png" alt="" />
      </div>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let service of services">
        <ng-template carouselSlide>
          <div class="carousel-item">
            <div fxLayout fxLayoutAlign="center cener">
              <img [src]="service?.image" alt="" />
            </div>
            <h3>{{ service?.title }}</h3>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <!-- <ul class="services__images" fxLayout fxLayoutAlign="space-between center">
      <li class="wow fadeInUp" data-wow-delay="300ms"></li>
      <li class="wow fadeInUp" data-wow-delay="600ms">
        <div>
          <img src="assets/images/services/service-2-img-1.png" alt="" />
        </div>
        <h3>agriculture <br />products</h3>
      </li>
      <li class="wow fadeInUp" data-wow-delay="900ms">
        <div>
          <img src="assets/images/services/service-2-img-1.png" alt="" />
        </div>
        <h3>organic <br />products</h3>
      </li>
      <li class="wow fadeInUp" data-wow-delay="1200ms">
        <div>
          <img src="assets/images/services/service-2-img-1.png" alt="" />
        </div>
        <h3>dairy <br />products</h3>
      </li>
    </ul> -->
  </div>
</section>
