@import "src/styles";

.services-section-three {
  padding: 65px 0;

  &__block-title {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;

    @include media("<md") {
      margin: 25px;
    }

    p {
      color: var(--primary-color);
      letter-spacing: 0.2em;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin: 0;
    }

    h3 {
      font-size: 70px;
      color: var(--black);
      font-weight: 700;
      line-height: 1em;

      @include media("<md") {
        font-size: 30px;
      }
    }
  }

  &__card {
    position: relative;
    overflow: hidden;
    margin-bottom: 45px;
    background-color: #fff;
    padding-top: 25px;

    @include media("<md") {
      padding-top: 15px;
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      h3 {
        color: var(--primary-color);
      }

      img {
        opacity: 0.7;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
    }

    h3 {
      text-align: center;
      color: var(--black);
      font-size: 30px;
      font-weight: 700;
      padding-bottom: 25px;
      margin: 0;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;

      @include media("<md") {
        padding-bottom: 12.5px;
        font-size: 20px;
      }
    }

    &-image {
      &:hover {
        .hover-box {
          left: 50px;
        }
      }

      img {
        height: 150px;
        width: 100%;
        object-position: center;
        object-fit: cover;
        padding: 3px;
        border: 2px solid var(--base-color);
        border-radius: 15px;

        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: transform 500ms ease, opacity 500ms ease;
        transition: transform 500ms ease, opacity 500ms ease,
          -webkit-transform 500ms ease;
      }

      .hover-box {
        position: absolute;
        top: 68px;
        left: -50px;
        color: var(--black);
        background-color: var(--base-color);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        cursor: pointer;

        &:hover {
          color: var(--base-color);
          background-color: var(--black);
        }

        fa-icon {
          font-size: 16px;
        }
      }
    }
  }
}
